.header {
	display: flex;
	flex-direction: row;
	align-items: center;
	justify-content: space-between;
	background-color: #FFE649 !important;
	z-index: 99;
}

.logoText {
	margin: 0 15px;
	font-size: 36px;
	color: #2B2B2B;
}

.clickable {
	cursor: pointer;
}
