.pokemonListContainer {
	display: flex;
	flex-direction: column;

	.filterBar {
		margin: 20px 0;
		padding: 10px;
		height: 60px;
		background-color: white !important;
		width: 100%;
		border-radius: 3px;
		display: flex;
		flex-direction: row;
		justify-content: space-around;
		align-items: center;
	}

	.ant-select-selection{
		background-color: #fee748;
    border-color: black;
	}

	.pokemonList {
		min-height: 600px;
		width: 100%;
		padding: 10px;
		display: flex;
		flex-direction: row;
		flex-wrap: wrap;
		justify-content: space-around;
		align-items: center;

		.pokemonCard {
			background-color: white;
			height: 150px;
			width: 35%;
			border-radius: 5px;
			margin: 20px;
		}

		.pokemonName{
			margin-left: 15px;
			margin-bottom: 0px !important;
		}

		.favoriteIcon{
			font-size: 22px;
			color: red;
			margin: 0px 20px;
			cursor: pointer;
		}

		.pokemonHead{
			display: flex;
			flex-direction: row;
			justify-content: space-between;
		}

		.pokemonImage{
			width: 80px;
			height: 80px;
			border-radius: 100px;
			background-color: white !important;
	    position: relative;
		  left: -40px;
		  top: 35px;
		  box-shadow: 14px 10px 29px -10px #ccc;
		}

		.pokemonSprite{
			position: relative;
	    left: -5px;
	    top: -5px;
		}

		.pokemonDetails {
			width: 90%;
			height: 100%;
			position: relative;
			top: -80px;
    	left: 40px;
    	display: flex;
    	flex-direction: column;
    	justify-content: space-evenly;
		}

		.shadow {
		  -webkit-box-shadow: 6px 6px 14px -7px #ccc;  /* Safari 3-4, iOS 4.0.2 - 4.2, Android 2.3+ */
		  -moz-box-shadow:    6px 6px 14px -7px #ccc;  /* Firefox 3.5 - 3.6 */
		  box-shadow:         6px 6px 14px -7px #ccc;  /* Opera 10.5, IE 9, Firefox 4+, Chrome 6+, iOS 5 */
		}

		.statDiv{
			display: flex;
			flex-direction: row;
			justify-content: space-around;
			align-items: center;
		}

		.statBox{
			background-color: #fee748;
	    width: 30px;
	    border-radius: 5px;
		}

		.statName{
			display: flex;
	    flex-direction: row;
	    justify-content: center;
	    font-weight: bold;
		}

		.statValue {
	    background-color: white;
	    margin: 2px;
	    display: flex;
	    justify-content: center;
      font-size: 12px;
		}

		.pokemonTypesDiv{
			margin-left: 15px;
		}
	}

	.paginationContainer {
		text-align: center;
		margin: 20px;
	}

}

